.article {
    background-color: #ffffff;
    width: 300px;
    height: 500px;
    display: inline-block;
    padding: 0;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #f1f1f4;
}

.article-title {
    color: #121212;
    text-decoration: none;
}

.article-title:hover {
    color: #2077fe;
    text-decoration: none;
}

.article-img{
    width: 300px;
    height: 300px;
}

// XXX после выноса в styles.scss padding почему-то перестал работать
.td-text-left {
    padding-left: '30px';
}

.td-text-right {
    padding-right: '30px';
}

.td-text-main {
    height: '100px';  // XXX не работает
    border-bottom: 1px solid #ededed;
}